body {
  background: #FFD166;
  padding: 0;
  margin: 0;
}

#main {
  background: #FFE5AB;
  display: grid;
  grid-template-columns: 2fr auto;
}

#title {
  
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Dosis', san-serif;
  font-weight: 500;
}
  
#img-div {
  width: 100%;
  height: auto;
  }

#img-caption {
  font-size: .8rem;
  color: 
}

p {
  font-family: 'Lato', san-serif;
  font-weight: 300;
}