* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: .5em 2em;
  background-color: #eee;
}

.logo img {
  width: 40px;
  height: auto;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 2em;
}

nav li a {
  text-decoration: none;
  color: #555;
}

nav li a:hover {
  color: #000;
}

.content {
  padding: 10em 1em;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product {
  padding: 4em 3em;
  margin: 1em auto;
  background-color: #eee;
  width: 31%;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}

.content h1 {
  margin-bottom: 1em;
}

h2 {
  font-size: 2.4rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

.video {
  width: 100%;
  height: auto;
  margin: 1em 0 10em;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.form {
  background-color: #000;
  padding: 10em;
}

.form h1 {
  color: #fff;
  margin-bottom: 2em;
}

.email-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="email"] {
  padding: 5em;
  width: 100%;
  font-size: 1rem;
}

.button {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 5em;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .2em;
  cursor: pointer;
}

.button:hover {
  background-color: #eee;
}


@media (max-width: 1280px) {

  .product-container {
    display: flex;
    flex-direction: column;
  }

  .product {
    width: 100%;
  }


}

@media (max-width: 768px) {

  .product {
    padding: 3em;
  }

  .video {
    margin-bottom: 3em;
  }

  .form {
    padding: 5em 3em;
  }

}

@media (max-width: 425px) {

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .product {
    padding: 2em;
  }

  .video {
    margin-bottom: 1em;
  }

  .content {
    padding: 5em 1em;
  }

  .form {
    padding: 3em 1em;
  }

  input[type="email"] {
  padding: 3em;
}

.button {
  padding: 3em;
}

}
