@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700');

body {
  font-family: 'Crimson Text', serif;
  background: #061721;
  color: #C9EDFF;
}

.banner {
  margin-bottom: 3em;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 0;
}

.form-container {
  background-color:rgba(255,255,255,.2);
  padding: 6em;
  margin: 0 5em 5em;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  grid-gap: 2.5em;
}

input {
  border: 1px solid #fff;
  padding: 1em;
  color: #000;
  border-radius: 5px;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,.5);
   font-size: .7rem;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,.5);  
  font-size: .7rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,.5);  
  font-size: .7rem;
}

:-ms-input-placeholder {  
   color: rgba(0,0,0,.5);  
  font-size: .7rem;
}

input:focus {
  outline-style: none;
  box-shadow: 0 0 0 3px #C9EDFF;
}

select {
  border: 3px solid #fff;
}

input[disabled] + label::after,
input[disabled] + datalist + label::after,
textarea[disabled] + label::after,
select[disabled] + label::after {
  content: " (disabled)";
}



.button {
  text-align: center;
  margin: 4em auto 0;
}